USE [master]
GO
/****** Object:  Database [management]    Script Date: 4/21/2018 6:59:22 AM ******/
CREATE DATABASE [management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\management.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\management_log.ldf' , SIZE = 560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [management]
GO
/****** Object:  Table [dbo].[City]    Script Date: 4/21/2018 6:59:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CITYID] [int] NOT NULL,
	[CITYNAME] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CITYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 4/21/2018 6:59:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[CITYID] [int] NOT NULL,
	[DATEOFBIRTH] [nvarchar](20) NOT NULL,
	[SEX] [bit] NOT NULL,
	[MATH] [float] NOT NULL,
	[PHYSICAL] [float] NOT NULL,
	[CHEMISTRY] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[City] ([CITYID], [CITYNAME]) VALUES (29, N'Hà Nội')
INSERT [dbo].[City] ([CITYID], [CITYNAME]) VALUES (33, N'Hà Tây')
INSERT [dbo].[City] ([CITYID], [CITYNAME]) VALUES (34, N'Hải Dương')
INSERT [dbo].[Student] ([ID], [NAME], [CITYID], [DATEOFBIRTH], [SEX], [MATH], [PHYSICAL], [CHEMISTRY]) VALUES (1, N'Phạm Thị Lan Oanh', 89, N'09-08-1997', 0, 8, 7, 8)
INSERT [dbo].[Student] ([ID], [NAME], [CITYID], [DATEOFBIRTH], [SEX], [MATH], [PHYSICAL], [CHEMISTRY]) VALUES (2, N'Đào Thị Lý', 34, N'12-02-1998', 0, 7, 8, 9)
INSERT [dbo].[Student] ([ID], [NAME], [CITYID], [DATEOFBIRTH], [SEX], [MATH], [PHYSICAL], [CHEMISTRY]) VALUES (3, N'Phạm Thị Thu Trang', 34, N'15-09-1998', 0, 6, 8, 9)
USE [master]
GO
